<div class="clearfix footer">
  <div class="py-container">
    <div class="footlink">
      <div class="Mod-service">
        <ul class="Mod-Service-list">
          <li class="grid-service-item intro  intro1">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>正品保障</h4>
              <p>正品保障，提供发票</p>
            </div>

          </li>
          <li class="grid-service-item  intro intro2">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>正品保障</h4>
              <p>正品保障，提供发票</p>
            </div>

          </li>
          <li class="grid-service-item intro  intro3">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>正品保障</h4>
              <p>正品保障，提供发票</p>
            </div>

          </li>
          <li class="grid-service-item  intro intro4">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>正品保障</h4>
              <p>正品保障，提供发票</p>
            </div>

          </li>
          <li class="grid-service-item intro intro5">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>正品保障</h4>
              <p>正品保障，提供发票</p>
            </div>

          </li>
        </ul>
      </div>
      <div class="clearfix Mod-list">
        <div class="yui3-g">
          <div class="yui3-u-1-6">
            <h4>购物指南</h4>
            <ul class="unstyled">
              <li>购物流程</li>
              <li>会员介绍</li>
              <li>生活旅行/团购</li>
              <li>常见问题</li>
              <li>购物指南</li>
            </ul>

          </div>
          <div class="yui3-u-1-6">
            <h4>配送方式</h4>
            <ul class="unstyled">
              <li>上门自提</li>
              <li>211限时达</li>
              <li>配送服务查询</li>
              <li>配送费收取标准</li>
              <li>海外配送</li>
            </ul>
          </div>
          <div class="yui3-u-1-6">
            <h4>支付方式</h4>
            <ul class="unstyled">
              <li>货到付款</li>
              <li>在线支付</li>
              <li>分期付款</li>
              <li>邮局汇款</li>
              <li>公司转账</li>
            </ul>
          </div>
          <div class="yui3-u-1-6">
            <h4>售后服务</h4>
            <ul class="unstyled">
              <li>售后政策</li>
              <li>价格保护</li>
              <li>退款说明</li>
              <li>返修/退换货</li>
              <li>取消订单</li>
            </ul>
          </div>
          <div class="yui3-u-1-6">
            <h4>特色服务</h4>
            <ul class="unstyled">
              <li>夺宝岛</li>
              <li>DIY装机</li>
              <li>延保服务</li>
              <li>品优购E卡</li>
              <li>品优购通信</li>
            </ul>
          </div>
          <div class="yui3-u-1-6">
            <h4>帮助中心</h4>
            <img src="img/wx_cz.jpg">
          </div>
        </div>
      </div>
      <div class="Mod-copyright">
        <ul class="helpLink">
          <li>关于我们<span class="space"></span></li>
          <li>联系我们<span class="space"></span></li>
          <li>关于我们<span class="space"></span></li>
          <li>商家入驻<span class="space"></span></li>
          <li>营销中心<span class="space"></span></li>
          <li>友情链接<span class="space"></span></li>
          <li>关于我们<span class="space"></span></li>
          <li>营销中心<span class="space"></span></li>
          <li>友情链接<span class="space"></span></li>
          <li>关于我们</li>
        </ul>
        <p>地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</p>
        <p>京ICP备08001421号京公网安备110108007702</p>
      </div>
    </div>
  </div>
</div>

	
	<!--侧栏面板开始-->
<div class="J-global-toolbar">
  <div class="toolbar-wrap J-wrap">
    <div class="toolbar">
      <div class="toolbar-panels J-panel">

        <!-- 购物车 -->
        <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
          <h3 class="tbar-panel-header J-panel-header">
            <a href="" class="title"><i></i><em class="title">购物车</em></a>
            <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');"></span>
          </h3>
          <div class="tbar-panel-main">
            <div class="tbar-panel-content J-panel-content">
              <div id="J-cart-tips" class="tbar-tipbox hide">
                <div class="tip-inner">
                  <span class="tip-text">还没有登录，登录后商品将被保存</span>
                  <a href="#" class="tip-btn J-login">登录</a>
                </div>
              </div>
              <div id="J-cart-render">
                <!-- 列表 -->
                <div id="cart-list" class="tbar-cart-list">
                </div>
              </div>
            </div>
          </div>
          <!-- 小计 -->
          <div id="cart-footer" class="tbar-panel-footer J-panel-footer">
            <div class="tbar-checkout">
              <div class="jtc-number"><strong class="J-count" id="cart-number">0</strong>件商品</div>
              <div class="jtc-sum"> 共计：<strong class="J-total" id="cart-sum">¥0</strong></div>
              <a class="jtc-btn J-btn" href="#" target="_blank">去购物车结算</a>
            </div>
          </div>
        </div>

        <!-- 我的关注 -->
        <div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
          <h3 class="tbar-panel-header J-panel-header">
            <a href="#" target="_blank" class="title"> <i></i> <em class="title">我的关注</em> </a>
            <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
          </h3>
          <div class="tbar-panel-main">
            <div class="tbar-panel-content J-panel-content">
              <div class="tbar-tipbox2">
                <div class="tip-inner"><i class="i-loading"></i></div>
              </div>
            </div>
          </div>
          <div class="tbar-panel-footer J-panel-footer"></div>
        </div>

        <!-- 我的足迹 -->
        <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
          <h3 class="tbar-panel-header J-panel-header">
            <a href="#" target="_blank" class="title"> <i></i> <em class="title">我的足迹</em> </a>
            <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
          </h3>
          <div class="tbar-panel-main">
            <div class="tbar-panel-content J-panel-content">
              <div class="jt-history-wrap">
                <ul>
                  <!--<li class="jth-item">
                    <a href="#" class="img-wrap"> <img src=".portal/img/like_03.png" height="100" width="100" /> </a>
                    <a class="add-cart-button" href="#" target="_blank">加入购物车</a>
                    <a href="#" target="_blank" class="price">￥498.00</a>
                  </li>
                  <li class="jth-item">
                    <a href="#" class="img-wrap"> <img src="portal/img/like_02.png" height="100" width="100" /></a>
                    <a class="add-cart-button" href="#" target="_blank">加入购物车</a>
                    <a href="#" target="_blank" class="price">￥498.00</a>
                  </li>-->
                </ul>
                <a href="#" class="history-bottom-more" target="_blank">查看更多足迹商品 &gt;&gt;</a>
              </div>
            </div>
          </div>
          <div class="tbar-panel-footer J-panel-footer"></div>
        </div>

      </div>

      <div class="toolbar-header"></div>

      <!-- 侧栏按钮 -->
      <div class="toolbar-tabs J-tab">
        <div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="购物车" tag="cart">
          <i class="tab-ico"></i>
          <em class="tab-text"></em>
          <span class="tab-sub J-count " id="tab-sub-cart-count">0</span>
        </div>
        <div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="我的关注"
             tag="follow">
          <i class="tab-ico"></i>
          <em class="tab-text"></em>
          <span class="tab-sub J-count hide">0</span>
        </div>
        <div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="我的足迹"
             tag="history">
          <i class="tab-ico"></i>
          <em class="tab-text"></em>
          <span class="tab-sub J-count hide">0</span>
        </div>
      </div>

      <div class="toolbar-footer">
        <div class="toolbar-tab tbar-tab-top"><a href="#"> <i class="tab-ico  "></i> <em class="footer-tab-text">顶部</em>
        </a></div>
        <div class="toolbar-tab tbar-tab-feedback"><a href="#" target="_blank"> <i class="tab-ico"></i> <em
            class="footer-tab-text ">反馈</em> </a></div>
      </div>

      <div class="toolbar-mini"></div>

    </div>

    <div id="J-toolbar-load-hook"></div>

  </div>
</div>

<script type="text/template" id="tbar-cart-item-template">
  <div class="tbar-cart-item">
    <div class="jtc-item-promo">
      <em class="promo-tag promo-mz">满赠<i class="arrow"></i></em>
      <div class="promo-text">已购满600元，您可领赠品</div>
    </div>
    <div class="jtc-item-goods">
      <span class="p-img"><a href="#" target="_blank"><img src="{2}" alt="{1}" height="50" width="50"/></a></span>
      <div class="p-name">
        <a href="#">{1}</a>
      </div>
      <div class="p-price"><strong>¥{3}</strong>×{4}</div>
      <a href="#" class="p-del J-del">删除</a>
    </div>
  </div>
</script>

	

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
  $(function () {
    $("#service").hover(function () {
      $(".service").show();
    }, function () {
      $(".service").hide();
    });
    $("#shopCar").hover(function () {
      $("#shopCarList").show();
    }, function () {
      $("#shopCarList").hide();
    });

  })
</script>
<script type="text/javascript" src="js/model/cartModel.js"></script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.jqzoom/jquery.jqzoom.js"></script>
<script type="text/javascript" src="js/plugins/jquery.jqzoom/zoom.js"></script>
<script type="text/javascript" src="js/pages/index.js"></script>

